html {
	background-color: #171717;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: space-between;
	background: center no-repeat url("../assets/hex.png") transparent;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #131313;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid palegreen;
}

.nav-tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 34px;
	margin: 0 34px;
	padding: 8px 0;
	height: 42px;
}

.hero {
	display: flex;
	height: 100vh;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-content {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: palegreen;
	opacity: 1;
}

.nav-tabs a,
.nav-tabs button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	text-align: center;
	height: 100%;
	background-color: transparent;
	color: palegreen;
	border: transparent;
}

.nav-tabs button:hover {
	border: 1px solid white;
}

.nav-tabs button:active {
	border: 1px solid palegreen;
}

footer {
	height: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-top: 2px solid palegreen;
	background-color: #131313;
	color: palegreen;
}
